<mj-section background-color="#999999">
  <mj-column>
    <mj-text color="#fff">
      From: Allergan [hcp.allerganwhu.com/hcp.allerganinfo.com]<br />
Sent: [Date]<br />
To: [Physician]<br />
Subject: Communicate About Caregiver Action Network<br />
Alt Subject: Discover an Advocacy Group for Your Patients' Caregivers<br />
Alt Subject: Caring for the Caregiver Community </mj-text>
  </mj-column>
</mj-section>